body {
  --slack-color: #3f0f40;
  overflow: hidden;
  /* Define the gradient */
}
/* .app__body {
  display:flex;
  height: 100vh;
} */
/* App.css */
/* App.css */
.app_body {
  display: flex;
  height: 100vh;
}
.app_body > * {
  margin-right: 20px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.welcome-heading {
  overflow: hidden; 
  white-space: nowrap; 
  animation: typing 4s steps(20, end);
  margin-left:80px;
  margin-top:150px;
}
h1 {
  display:block;
  color: black;
  font-family: 'Fasthand', cursive;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.welcome-text{
  justify-content:center;
  text-align:center;
}
p{
  text-indent:5px;
  font-size:20px;
  margin-top:90px;
  text-shadow:2px 1px; 
}
