body {
  --slack-color: #3f0f40;
  overflow: hidden;
}

.app_body {
  display: flex;
  height: 100vh; /* Use flexbox to enable horizontal alignment */
}
.app_body > * {
  margin-right: 20px;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.welcome-text h1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(20, end);
  font-size: 24px;
  font-weight: bold;
  color: #333; 
  margin-top:30px;
  margin-bottom: 10px;
}

.welcome-text p {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(20, end);
  font-size: 18px;
  margin-top:100px;
  margin-left: 30px;
  line-height: 1.5;
  color: #666;
}

h1 {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.welcome-text {
  justify-content: center;
  text-align: center;
}
.welcome-text > div {
  margin-bottom: 40px;
}
