.chat {
    flex: 0.7;
    flex-grow:1;
    overflow-y:scroll;
    padding-bottom: 150px;
}
.chat__header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:20px;
    border-bottom: 1px solid lightgray;
}


.chat__ChannelName  {
    display:flex;
    text-transform: lowercase;
 }

.chat__ChannelName > .MuiSvgIcon-root {
    font-size: 18px;
    margin-left: 8px;
}

.chat__headerRight{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.chat__headerRight > p{
    display:flex;
    align-items: center;
    font-size: 14px;
}

.chat__headerRight > p > .MuiSvgIcon-root {
    margin-right: 5px !important;
    font-size: 16px;
}

.delete_button{
    background-color: transparent;
    border: none;
    transition: 0.3s;
}

.delete_button:hover{
    transform: scale(1.2);
}