.chatInput{
   display: flex;
   flex-direction: row;
   border-radius:20px;
   align-items: center;
}
.input-field{
   width:100%;
   border:1px solid white;
   border-radius: 3px;
   height: 4vh;
 }

.message-form{   
   padding-left: 10%;
   padding-right: 1%;
   width: 70%;
}

.button1{
   padding-right: 10px;
}

 
 
.send-button{
   position: fixed;
   background: transparent;
   border: none;
   bottom:37px;   
   right: 155px;
   transform: scale(1.2);
   transition: 0.3s;
}

.clear-button{
   background: transparent;
   color: black;
   border: none;

}

.send-button:hover{
   transform: scale(1.5);
}



