.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color:black;
    color: white;
}

.header_left{
    flex: 0.3;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header_left > .MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 30px;
}

.header_search{
    flex: 0.4;
    background-color:white;
    text-align: center;
    display: flex;
    padding: 0 50px;
    color:white;
    border: 1px white;
    border-radius: 6px;
}

.header_search > input{
    background-color:white;
    border: none;
    text-align: center;
    min-width: 35vw;
}

.header_right {
    flex: 0.3;
    display: flex;
    align-items: flex-end; 
}

.header_right > .MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 20px;
}