.login{
    height: 100vh;
    background: white;
    display:grid;
    place-items: center;
}
.Login__container{
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow:0 1px 3px rgba(0, 0, 0,0.12),
    0 1px 2px rgba(0, 0, 0,0.24) ;
}

.Login__container > img{
    object-fit:contain;
    height:200px;
    /* margin-bottom: 1px; */
}
.Login__container > button{
    margin-top: 50px;
    text-transform: inherit; 
    background-color: rgb(52, 110, 203);
    color: white;

}
