.message{
    display:flex;
    align-items:center;
    padding: 20px;
}
.message > img {
    height:25px;
    width:25px;
    border-radius: 50%;
    object-fit:contain;
}
.message__info{
    padding-left: 10px;
    font-size: 15px ;
}
.message__timestamp{
    color:rgb(2, 10, 105);
    font-weight: 300;
    font-size: 13px;
}

.messagetext{
    font-size: small;
    text-shadow: none;
}

#mestext{
    margin-top: 10px;
}
