.message{
    display:flex;
    align-items:center;
    padding: 20px;
}
.message > img {
    height:50px;
    width:50px;
    object-fit:contain;
}
.message__info{
    padding-left: 10px;
    font-size: 15px ;
}
.message__timestamp{
    color:white;
    font-weight: 300;
    font-size: 13px;
}