.sidebar{
    display: flex;
    flex-direction: column;
    color: white;
    width:230px;    
    background-color:  rgb(2, 10, 105);
    border-top: 1px solid  rgb(2, 10, 105);
    border-right:1px solid  rgb(2, 10, 105);
    max-width: 230px;
    margin-bottom: 2px;
}

.channels{
    display: flex;
    flex-direction: column;
    height: 33vh;
    overflow-y: auto;
    margin-bottom: 2px;
}

.sidebar_header{
    display: flex;
    border-bottom: 1px solid  rgb(2, 10, 105);
    padding-bottom: 10px;
    padding: 13px;
}

.sidebar_info{
    flex: 1;
}

.sidebar_info > h2{
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}

.sidebar_info > h3{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

.sidebar_info > h3 > .MuiSvgIcon-root{
    font-size: 14px;
    margin-top: 1px;
    margin-right: 2px;
    color: green;
}

.sidebar > hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid   rgb(2, 10, 105);
}

.sidebar_header > .MuiSvgIcon-root{
    padding: 8px;
    color:  rgb(2, 10, 105);
    font-size: 18px;
    background-color: white;
    border-radius: 999px;
}


/* ::-webkit-scrollbar {
    width: 10px; 
} */

/* Scrollbar Thumb */
/* ::-webkit-scrollbar-thumb {
    background-color: #7e0287;
    border-radius: 5px;
} */

/* Scrollbar Track when mouse is over */
/* ::-webkit-scrollbar-track:hover {
    background-color: #ffffff; 
} */

/* Scrollbar Thumb when mouse is over */
/* ::-webkit-scrollbar-thumb:hover {
    background-color: #850995; 
 } */